<html>
	<head>

		<title>Tweeter</title>
	<!--	<link rel="stylesheet" href="/static/retwis-py.css" type="text/css" media="screen" /> -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<style>
      		body {
        		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      		}
    		</style>
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.css">	

		<!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

	</head>

	<body class="{{header}}">

		
		
		{% block header %}
			<div class="navbar navbar-inverse navbar-fixed-top">
      				<div class="navbar-inner">
        				<div class="container">
          					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           	 				<span class="icon-bar"></span>
            					<span class="icon-bar"></span>
            					<span class="icon-bar"></span>
          					</button>
          					<a class="brand" href="/">Tweeter</a>
          					<div class="nav-collapse collapse">
            						<ul class="nav">
              						<li class="active"><a href="/">Home</a></li>
							{% if logged %}
              							<li><a href="/logout">Sign Out</a></li>
							{% else %}
              							<li><a href="/login">Sign in</a></li>
								<li><a href="/login">Sign up</a></li>
							{% endif %}
           	 					</ul>
          					</div><!--/.nav-collapse -->
        				</div>
      				</div>
    			</div>

		<div class="container">

		{% endblock %}
		
		{% block form %}
			<h1>What's happening?</h1>
			<form method="POST" action="/post" class="update">
				<textarea name="content"></textarea>
				<fieldset>
					{% if tweet %}
						<p>{{tweet.content}}</p>
					{% else %}
						<p>really ? nothing's happening ?</p>
					{% endif %}
					<input type="submit" value="update!" />
					</fieldset>
			</form>
		{% endblock %}


		{% block content %}{% endblock %}
		
		
		{% block side %}
			<div id="side">
				<p class="bio">
					<img src="/static/avatar-small.png" />{{username}}
					<span><a href="/{{username}}">{{counts[2]}} tweets</a></span>
				</p>
			<div>
				<ul class="follow">
					<li><a href="#">Following<span>{{counts[0]}}</span></a></li>
					<li><a href="#">Followers<span>{{counts[1]}}</span></a></li>
					<li><a href="/mentions">@{{username}}</a></li>
				</ul>
			</div>	
		{% endblock %}
		

		 
		{% block footer %}
			</div>
			<script src="/static/app.js" type="text/javascript" charset="utf-8"></script>
		{% endblock %} 
		
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
	</body>

</html>
