<html>
	<head>

		<title>Tweeter</title>
	<!--	<link rel="stylesheet" href="/static/retwis-py.css" type="text/css" media="screen" /> -->
		<!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
    <link rel="stylesheet" href="/static/css/bootstrap3/dist/css/bootstrap.css">
    <!-- LANDLR -->
    
    
    
    
		<style>
      		body {
        		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      		}
    		</style>
		<!-- <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">	-->

		<style type="text/css">


      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

      .avatar{border:1px solid #;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px; 
      }

    </style>

		<!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

	</head>

	
  

		
		
		{% block header %}
    <body class="{{header}}">
			<div class="navbar navbar-inverse navbar-fixed-top">
        			<div class="container">
                <div class="navbar-header">
          					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           	 				<span class="icon-bar"></span>
            					<span class="icon-bar"></span>
            					<span class="icon-bar"></span>
          					</button>
          					<a class="navbar-brand" href="/">Tweeter</a>
                </div>
          			<div class="navbar-collapse collapse">
            						<ul class="nav navbar-nav">
              						<li class="active"><a href="/">Home</a></li>
            							{% if logged %}
                          							<li><a href="/logout">Sign Out</a></li>
            							{% else %}
                          							<li><a href="/login">Sign in</a></li>
            								            <li><a href="/login">Sign up</a></li>
            							{% endif %}
                       	 					</ul>
                          {% if logged %} <!-- Search Bar -->
                            <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Search User">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                          {% else %} <!-- Login -->
                            <form class="navbar-form navbar-right" method="POST" action="/login">
                              <div class="form-group">
                                <input type="text" name="name" placeholder="Username" class="form-control">
                              </div>
                              <div class="form-group">
                                <input type="password" name="password" placeholder="Password" class="form-control">
                              </div>
                              <button type="submit" class="btn">Sign in</button>
                            </form>
                          {% endif %}
                 </div>
          			</div><!--/.navbar-collapse -->
                  
      </div>
    			

		 <div class="container">

		{% endblock %}
		
		{% block form %}
      <br>
			
      <div class="row" \>
				<form method="POST" action="/post" class="update">
					<textarea style="margin-bottom: -10px" class="form-control" name="content" placeholder="What's happening?" rows="4"></textarea>
          <br>
					<div class="form-group"><input type="submit" class="btn btn-info"  value="Tweet!"></div>
				</form>
			</div> 
		{% endblock %}


		{% block content %}{% endblock %}
		
		
		{% block side %}
		<div class="col-md-4">
        <div class="well well-sm">
    			
            <div class="row" style="margin-bottom: +5px"> <!-- Picture, name, date -->
              <div class="col-md-1" style="margin-top: +3px">   <!-- picture -->
                <img src="{{user.avatar(32)}}" /> 
              </div>

              <div class="col-md-6" style="margin-left: +10px; margin-top: +5px"  > <!-- name, date -->
                <strong> <a style="color: #000000" href="/{{user.username}}">{{user.username}}</a></strong>
              </div>
            </div>

    			
            <div class="row" style="margin-bottom: -10px; margin-top: +5px">
                     <div class="col-md-3" style="border-top: 2px solid #eee; border-left: 2px solid #eee"> 
                          <p style="margin-top: +10px; margin-bottom: 0px"><b>{{counts[2]}}</b><br></p>
                          <small><p class="text-muted">TWEETS</p></small>
                     </div>
                     <div class="col-md-3" style="border-top: 2px solid #eee; border-left: 2px solid #eee"> 
                          <p style="margin-top: +10px; margin-bottom: 0px"><b>{{counts[0]}}</b><br></p>
                          <small><p class="text-muted">FOLLOWING</p></small>
                     </div>
                		 <div class="col-md-3" style="border-top: 2px solid #eee; border-left: 2px solid #eee"> 
                          <p style="margin-top: +10px; margin-bottom: 0px"><b>{{counts[1]}}</b><br></p>
                          <small><p class="text-muted">FOLLOWERS</p></small>
                     </div>	
                		 <div class="col-md-3" style="border-top: 2px solid #eee; border-left: 2px solid #eee"> 
                          <p style="margin-top: +10px; margin-bottom: 0px"><b><a href="/mentions">@{{username}}</a></b><br></p>
                          <small><p class="text-muted">MENTIONS</p></small>
                     </div>
            </div>  
            {% if logged and not himself %} 
            <div class="row" style="border-top: 2px solid #eee">  
                <div align="center" class="col-md-12" style="margin-bottom: -10px">  
                {% if is_following %}
                  <form action="/unfollow/{{username}}" method="post" accept-charset="utf-8" class="unfollow-user">
                    <p><input type="submit" class="btn btn-danger" value="Unfollow {{username}}"></p>
                  </form>
                {% else %}
                  <form action="/follow/{{username}}" method="post" accept-charset="utf-8" class="follow-user">
                    <p><input type="submit" class="btn btn-success" value="Follow {{username}}"></p>
                  </form>
                {% endif %}
                </div>
                </div>
            {% endif %}
            
            
            </div>
    		</div> 
    
    </div> <!-- row from timeline -->
		{% endblock %}
		

		 
		{% block footer %}
			
			<script src="/static/app.js" type="text/javascript" charset="utf-8"></script>
		{% endblock %} 
		
    <script src="/static/js/jquery.js"></script>
   <!-- <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script> -->
    <script src="/static/css/bootstrap3/dist/js/bootstrap.js"></script>
    <script src="/static/css/bootstrap3/assets/js/respond.min.js"></script>
    <!-- LANDLR  -->
      <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="/static/js/custom.js"></script>

      <!-- Revolution Responsive jQuery Slider -->
	</body>

</html>
