{% extends "base.html" %}
{% block header %}
	{{ super() }}
{% endblock %}

{% block form %} 
	{{ super() }}
{% endblock %}

{% block content %}
		<div class="row-fluid"> <!-- contains mentions and side -->
			<div class="span12">
				<div class="span8">	
		<div class="tweets">
		{% for tweet in mentions %}
		<div class="row-fluid">
		<div class="well">
			
			<p><img src="/static/avatar.png" /> <strong><a href="/{{tweet.user.username}}">{{tweet.user.username}}</a></strong>
			 <div class="well"> {{tweet.content}}</div>
			

		</div> <!-- well -->
	</div>
	{% endfor %}

		</div>
	</div>
{% endblock %}


{% block side %}
	{{ super() }}
{% endblock  %}

{% block footer %}
	{{ super() }}
{% endblock %}
