{% extends "base.html" %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block form %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div class="row-fluid"> <!-- contains timeline and side -->
	<div class="span12">
		<div class="span8">	
		<div class="tweets">
	{% for tweet in timeline %}
	<div class="row-fluid">
		<div class="well">
			
			
			
			<div class="well">
				<div class="row-fluid">
					 <div class="span2"><img src="{{tweet.user.avatar(64)}}" /> </div>
					 <div class="span10"> 
					 		<strong> <a href="/{{tweet.user.username}}">{{tweet.user.username}}</a></strong>
					 		<br/>
					 		{{tweet.content}}

					 </div>
				</div>
			</div>

			{% if logged and himself %}
			 <div class="row-fluid">
			 	<div class="span1">
					<form method="POST" action="/delete/{{tweet.id}}" class="delete">
					<input type="submit" class="btn btn-danger"  value="Delete">
					</form>
				</div>
			<!-- <form method="GET" action="/{{tweet.user.username}}/statuses/{{tweet.id}}">
			<input type="submit" class="btn"  value="Permalink">
			</form>  -->
			</div>
			{% endif %}

		</div> <!-- well -->
	</div>
	{% endfor %}
	</div> <!-- tweets -->
	</div> <!-- span 8 -->

{% endblock %}

{% block side %}
	{{ super() }}
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}
