{% extends "base.html" %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block form %}
	{{ super() }}
{% endblock %}

{% block content %}
		<div class="tweets">
%for tweet in timeline:
<p><img src="/static/avatar.png" /> <strong><a href="/{{tweet.user.username}}">{{tweet.user.username}}</a></strong> {{tweet.content}}<span><a href="/{{tweet.user.username}}/statuses/{{tweet.id}}">permalink</a></span></p>
%end
</div>

{% endblock %}

{% block side %}
	{{ super() }}
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}
