{% extends "base.html" %}

{% block header %}
	{{ super() }}
{% endblock %}

{% block form %}{% endblock %}

{% block content %}
	
	<div id="main">
	{% if logged and not himself %}
		{% if is_following %}
			<form action="/unfollow/{{username}}" method="post" accept-charset="utf-8" class="unfollow-user">
				<p><input type="submit" value="Unfollow {{username}}"></p>
			</form>
		{% else %}
			<form action="/follow/{{username}}" method="post" accept-charset="utf-8" class="follow-user">
				<p><input type="submit" value="Follow {{username}}"></p>
			</form>
		{% endif %}
	{% endif %}

	<div class="tweets">
	{% if posts %}
		{% for tweet in posts %}
			<p><img src="/static/avatar.png" /> <strong><a href="/{{tweet.user.username}}">{{tweet.user.username}}</a></strong> {{tweet.content}}<span><a href="/{{username}}/statuses/{{tweet.id}}">permalink</a></span></p>
		{% endfor %}
	{% else %}
		<p>{{username}} has not posted any tweet yet</p>
	{% endif %}
	</div>
	</div>
{% endblock %}

{% block side %}
	{{ super() }}
{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}

